---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
  <div class="w-full h-full flex flex-col items-center p-8">
    <h1 class="text-6xl font-bold">TP N4</h1>
    <ul class="text-xl mt-32 flex gap-2">
      <li class="bg-violet-400 text-white px-4 py-2 rounded-2xl">
        <a href="/simple">Simple</a>
      </li>
      <li class="bg-violet-400 text-white px-4 py-2 rounded-2xl">
        <a href="/simple">Simple penguins</a>
      </li>
    </ul>
  </div>
</Layout>
